/**
 * @file file
 * @author leon <ludafa@outlook.com>
 */

@require 'codemirror/lib/codemirror.css'
@require 'highlight.js/styles/atom-one-light.css'

.editor
    flex: 0 0 50%;
    box-sizing: border-box;
    overflow: hidden;


.CodeMirror
    box-sizing: border-box;
    height: 100% !important;
    padding: 1rem;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

.cm-keyword,
.cm-atom,
.cm-number,
.cm-def,
.cm-variable,
.cm-punctuation,
.cm-property,
.cm-operator,
.cm-variable-2,
.cm-variable-3,
.cm-comment,
.cm-string,
.cm-string-2,
.cm-meta,
.cm-qualifier,
.cm-builtin,
.cm-bracket,
.cm-tag,
.cm-attribute,
.cm-hr,
.cm-link,
.cm-header
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
