/**
 * @file font
 * @author leon <ludafa@outlook.com>
 */

@font-face {
    font-family: "Hack";
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    src: url('../font/Hack-Regular.ttf') format('truetype')
}
