@require 'nib'

global-reset()

html,
body {
    height: 100%;
    font-size: 12px;
    font-family: "Helvetica", "STHeiti";
}

main {
    height: 100%;
}

@require './common/css/font.styl'
@require './component/App.styl'
@require './component/Editor.onedark.styl'
@require './component/Editor.styl'
@require './component/Preview.styl'
