/*:import('github-markdown-css');*/

.preview {

    composes: markdown-body from "github-markdown-css";

    flex: 0 0 50%;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    padding: 1rem;
    line-height: 1.2;
    font-size: .8rem;
    overflow-x: hidden;
    overflow-y: auto;

}

:global h1 > .header-anchor {
    opacity: 0;
}

:global h1:hover > .header-anchor {
    opacity: 1;
}

:global h2 > .header-anchor {
    opacity: 0;
}

:global h2:hover > .header-anchor {
    opacity: 1;
}


:global h3 > .header-anchor {
    opacity: 0;
}

:global h3:hover > .header-anchor {
    opacity: 1;
}


:global h4 > .header-anchor {
    opacity: 0;
}

:global h4:hover > .header-anchor {
    opacity: 1;
}

:global h5 > .header-anchor {
    opacity: 0;
}

:global h5:hover > .header-anchor {
    opacity: 1;
}

:global h6 > .header-anchor {
    opacity: 0;
}

:global h6:hover > .header-anchor {
    opacity: 1;
}

.preview ol {
    list-style: decimal;
}

.preview ul {
    list-style: initial;
}

/*.preview h2 >.header-anchor,
.preview h3 >.header-anchor,
.preview h4 >.header-anchor,
.preview h5 >.header-anchor,
.preview h6 >.header-anchor {
    opacity: 0;
}*/
